@mixin text-cerf ($size) {
    font-family: $font-primary;
    color: #2c2783;
    text-transform: uppercase;
    font-size: $size;
    font-weight: bold;    
}

@mixin text-main ($size, $font-weight) {
    font-family: $font-primary;
    color: #ffffff;;
    text-transform: uppercase;
    font-size: $size;
    font-weight: $font-weight;    
}

@mixin text-slider ($size, $font-family) {
    font-family: $font-family;
    color: #ffffff;;
    text-transform: uppercase;
    font-size: $size;        
}

@mixin success-parallax ($bg-url, $px, $p, $height) {
    position: absolute;
    $px: 0;
    $py: 0;
    height: $height;
    background-image: $bg-url;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    z-index: 1;        
}