.aside-menu {
    display: none;
    position: fixed;
    left: -300px;
    background-color: #2dac5d6c;
    transition: left .3s ease;
    width: 100%;
    max-width: 300px;
}

.aside-burger {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: -50px;
}