.aside-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.aside-logo_t {
    width: 300px;
}

.aside-logo_l {
    width: 28px;
}

.aside-logo_t, .aside-logo_l {
    display: none;
}

.aside-login {
    display: none;    
    &__link {
        @include text-main (13px, 700);
    }
    
    span {
        color: $color-primary;
    }
}

.aside-select {
    display: none;
    position: relative;    
    cursor: pointer;
    
    span { 
        position: absolute;
        content: url("../../img/down_w.png");
        top: 25%;            
        left: 0;
        pointer-events: none;
    }
}

.aside-lang {
    position: relative;
    @include text-main (13px, 700);    
    width: 100%;                
    cursor: pointer;
    padding: 0 10px;    

    option {
        background-color: $color-secondary;        
    }
}

.mburger {
    color: $color-primary;
    width: 50px;
    height: 50px;
    padding: 0;
}

.mmenu-title {
    font-family: $font-secondary-bold;
    text-transform: uppercase;
    font-size: 25px;
    color: $color-secondary;

    span {
        color: $color-third;
    }
}



