.certif {
    height: 764px;
    position: relative;
    text-align: center;
    background-color: #fff;    

    &-logo {        
        padding-top: 59px;
        margin-bottom: 11px;
    }

    &-title {
        font-size: 30px;
        font-family: "Arial";
        color: #2c2783;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.533;
    }

    &-box {
        margin-top: 32px;
        margin-bottom: 26px;

        a {
            margin-right: 35px;
        }

        a:last-child {
            margin-right: 0px;
        }
    }

    &-subtitle {
        font-size: 24px;
        font-family: "Arial";
        color: #2c2783;
        font-weight: bold;
        text-transform: uppercase;
        
        &__img {
            margin-top: 7px;
            margin-bottom: 43px;  
        }
    }
}