.certif {
    height: auto;
    position: relative;
    text-align: center;
    background-color: #fff;    

    &-logo {        
        padding-top: 59px;
        margin-bottom: 11px;
    }

    &-title {
        @include text-cerf(30px);        
        line-height: 0.533;
    }

    &-box {
        margin-top: 32px;
        margin-bottom: 26px;

        a {
            display: inline-block;
            margin-right: 35px;            
        }

        a:last-child {
            margin-right: 0px;
        }
    }

    &-subtitle {
        @include text-cerf(24px); 
    }

    &-img-wrap {
        padding-top: 7px;
        padding-bottom: 208px;  
    }
}