.contact {
    position: relative;
    margin: 0 auto;
    padding: 33px 0;
    bottom: -43px;
    width: 100%;
    max-width: 1232px;
    z-index: 2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $color-secondary;
    background: 
        url(../../img/contact_bg2.png) no-repeat,
        url(../../img/contact_bg.png) repeat;
    background-size: contain, auto;   
    background-position-y: 180%;
    box-shadow: 0 3px 5px rgba(0,0,0,.5),
        inset 0 3px 0 hsla(0,0%,100%,.2);    
    text-align: center;

    &__title {
        @include text-main (30px, 700);        
        margin-bottom: 10px;
        
    }

    &__adress {
        @include text-main (18px, 400);
        line-height: 22px;
        text-transform: none;        
    }
}

.contact-phone {
    margin-top: 11px;
    margin-bottom: 8px;
    
    &__link {
        @include text-main (14px, 400);
        text-transform: lowercase; 

        &:hover {
            text-decoration: underline;
        }
    }
}

.contact__email {
    @include text-main (14px, 400); 
    text-transform: lowercase;

    &:hover {
        text-decoration: underline;
    }
}    
