.contact {
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    height: 207px;
    width: 100%;
    max-width: 1232px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:#01983b ;
    background: url(../../img/contact_bg2.png) no-repeat,
        url(../../img/contact_bg.png) repeat;
    background-size: contain, auto;
    // background-position: bottom, 0 0;
    background-position-y: 180%;
    box-shadow: 0 3px 5px rgba(0,0,0,.5),
        inset 0 3px 0 hsla(0,0%,100%,.2);    
    text-align: center;
    color: #ffffff;

    &-wrap {
        padding: 33px 0;
    }

    &-title {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        
    }

    &-adress {
        font-size: 18px;
        line-height: 22px;        
    }

    &-phone {
        margin-top: 11px;
        margin-bottom: 8px;
        
        &__link {
            font-size: 14px;
            color: #ffffff;

            &:hover {
                text-decoration: underline;
            }
        } 
    }

    &__email {
        font-size: 14px;
        color: #ffffff;

        &:hover {
            text-decoration: underline;
        }
    }
    
}