.footer {
    height: 323px;
    background-image: url(../img/footer_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;    
    font-size: 24px;

    &-social {
        display: flex;
    }
}

