.footer {
    height: 323px;
    background-image: url(../img/footer_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;    
    font-size: 24px;

    &-logo {
        margin-top: 15px;
        margin-bottom: -4px;
    }

    &-copyright {
        font-size: 12px;
        font-weight: bold;
        margin-top: 4px;
    }

    &-social-title {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
    }

    &-social {
        display: flex;
        margin-top: 6px;
        margin-bottom: 7px;
        color: #ffffff;
    }

    &-social__linkedin {
        margin-right: 10px;

        &:hover a {
            color: #0073b1;
        }
    }

    &-social__vk {        

        &:hover a {
            color:  #4c75a3;
        }
    }

    &-social__link {
        color: #ffffff;        
    }

    .iconify {
        font-size: 35px;
    }    

    &-banner-title {
        display: flex;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 4px;
        margin-bottom: 16px;
    }

    &-banner__link {
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: .5px; 
        
        &:hover {
            color: #084612;
            text-shadow: 1px 1px 2px #084612;
        }

        &:active {                      
            text-shadow: none;
        }
    }

    &-develop-title {
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
    }

    &-develop__link {
        color: #ffffff;

        &:hover {
            color: #084612;
            text-shadow: 1px 1px 2px #084612;
        }

        &:active {                                  
            text-shadow: none;
        }
    }


}

