.footer {
    height: 323px;
    background-image: url(../../img/footer_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
        margin-top: 15px;
        margin-bottom: -4px;
    }

    &-copyright {
        @include text-main (12px, 700);        
        margin-top: 4px;
    }

    &-social-title {
        @include text-main (12px, 700);
        margin-top: 10px;
    }

    &-social {
        display: flex;
        margin-top: 6px;
        margin-bottom: 7px;
        color: #ffffff;
    }

    &-social__linkedin {
        margin-right: 10px;

        &:hover a {
            color: #0073b1;
        }
    }

    &-social__vk {        

        &:hover a {
            color:  #4c75a3;
        }
    }

    &-social__link {
        @include text-main (35px, 400);        
    }
    
    &-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        @include text-main (10px, 700);        
        margin-top: 4px;
        margin-bottom: 16px;
    }

    &-banner__link {
        @include text-main (10px, 700);
        letter-spacing: .5px; 
        
        &:hover {
            color: #084612;
            text-shadow: 1px 1px 2px #084612;
        }

        &:active {                      
            text-shadow: none;
        }
    }

    &-develop-title {
        @include text-main (12px, 700);
    }

    &-develop__link {
        color: #ffffff;

        &:hover {
            color: #084612;
            text-shadow: 1px 1px 2px #084612;
        }

        &:active {                                  
            text-shadow: none;
        }
    }


}

