header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header {
    background-color: #01983b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5),
                inset 0 -3px 0 rgba(255, 255, 255, 0.2); 
    
}

.nav {

    &-list {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 1rem;
        transition: all .2s ease;
    }

    &-item {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 5px 0;

        &:hover {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
        }
        
        &:active {
            border-top: 1px solid #ffffffc9;;
            border-bottom: 1px solid  #ffffffc9;
            
            .nav__link {
                color: #ffffffc9;
            }
        } 
    }

    &__link { 
        color: white;
        font-family: Arial;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.product {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {        
        content: url("../../img/down_w.png");
        height: 5px;
        pointer-events: none;
        margin-left: 10px;
    }

    &-list {
        display: flex;
        position: absolute;
        flex-direction: column; 
        bottom: -108px;
        left: 0;
        width: 100%;
        background-color: #01983ba4;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease;        
    }

    &-item {
        padding: 10px 0;
        text-align: center;

        &:hover {
            background-color: #01983b;
        }

        &:active .product__link {
            color: #ffffff78;
        }
    }

    &__link {
        color: #ffffff;
    }

    &:hover &-list {
        opacity: 1;
        visibility: visible;        
    }
}

