.info  {
    height: 721px;
    background-image: url(../img/header-info_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial;    

    &-container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;

        &--left, &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &--right {
            width: 100%;
            max-width: 417px;            
            margin-left: 100px;                      
        }
    }

    &-login {
        margin-top: 10px;
        margin-right: 1rem;
        float: right;

        &__link, span {
            font-size: 12px;
            font-family: "Arial";
            color: #01983b;
            text-transform: uppercase;
            line-height: 2;
        }

        &__link:hover {
            text-shadow: 1px 1px 1px #023616;
        }

        &__link:active {
            text-shadow: 1px 0px 1px #023616a9;            
            color: #023616;
        }

        span {
            margin: 0 5px;
        }
    }

    &-box {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & select {
            position: relative;
            appearance: none;

            &::before {
                position: absolute;
                content: url("../img/arr_down.svg");
                top: 0;
                left: 0;
            }
        }
    }

    &-social {
        display: flex;        
    }

    &-telephone {
        font-size: 16px; 
        color: rgb(44, 39, 131);
        font-weight: bold;
        line-height: 1.125;
    }
}