.info  {
    height: 721px;
    background-image: url(../img/header-info_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial;    

    &-container {
        display: flex;
        justify-content: space-between;
        padding: 23px 0 11px;

        &--left, &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &--right {
            width: 100%;
            max-width: 420px;            
            margin-left: 100px;
            align-items: flex-start;                      
        }
    }

    &-login {
        margin-top: 10px;
        margin-right: 1rem;
        float: right;

        &__link, span {
            font-size: 12px;
            font-family: "Arial";
            color: #01983b;
            text-transform: uppercase;
            line-height: 2;
        }

        &__link:hover {
            text-shadow: 1px 1px 1px #023616;
        }

        &__link:active {
            text-shadow: 1px 0px 1px #023616a9;            
            color: #023616;
        }

        span {
            margin: 0 5px;
        }
    }

    &-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }    

    &-select {
        position: relative;
        width: 40px;
        cursor: pointer;
        
        span { 
            position: absolute;
            content: url("../img/down.png");
            top: 25%;            
            left: 0;
            pointer-events: none;
        }
    }
    
    &-lang {
        position: relative;
        appearance: none;
        font-size: 12px;
        font-weight: bold;
        color: #2c2783;
        width: 100%;                
        cursor: pointer;
        padding: 0 10px;        
    }

    &-social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__text {
            font-size: 12px;  
            text-transform: uppercase;
            color: #01983b;
        }

        &__link {
            font-size: 22px;
            color: #01983b;
        }

        &__linkedin { 
            margin-left: 9px;           
    
            &:hover a {
                color: #0073b1;
            }
        }
    
        &__vk { 
            margin-left: 6px;       
    
            &:hover a {
                color:  #4c75a3;
            }
        }
    }     

    &-telephone__link, &__email {
        font-size: 16px; 
        color: #2c2783;
        font-weight: bold;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    &-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;        
    }

    &-line {
        width: 92%;
        height: 1px;
        background-color: #2c27835d; 
        margin-top: 18px;       
    }

    &-btn {
        cursor: pointer;
    }
}