.success {

    color: #ffffff;
    text-transform: uppercase;    
    overflow: hidden;
    &-wrap {
    position: relative;
    width: 100%;
    height: 561px;
    background-image: url(../../img/success_bg.png);
    z-index: 0;
    text-align: center;
    }

    &-penoboard {
        position: absolute;        
        left: 0;
        bottom: -5%;
        width: 100%;
        height: 187px;
        background-image: url(../../img/penoboard.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
        z-index: 1;        
    }

    &-balls--1 {
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        height: 961px;
        background-image: url(../../img/balls1.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left center;
        z-index: 1;
    }

    &-balls--2 {
        position: absolute;
        right: 0;
        bottom: -100%;
        width: 100%;
        height: 961px;
        background-image: url(../../img/balls2.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right bottom;
        z-index: 1;
        
    }

    &-balls--3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 560px;
        background-image: url(../../img/balls3.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left center;
        z-index: 1;
    }

    &-balls--4 {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 560px;
        background-image: url(../../img/balls4.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right center;
        z-index: 1;
        
    }

    &-title {
        position: absolute;
        font-size: 40px;
        font-weight: bold;        
        top: 63px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    &-territory {
        position: absolute;
        top: 67px;
        left: 448px;
        width: 500px;
        height: 330px;
        background-image: url(../../img/ellipse_1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; 
        z-index: 2;       

        &__title {            
            font-size: 30px;
            float: left;
            margin-top: 111px; 
            margin-bottom: 5px;                       
        }

        &__subtitle {  
            position: relative;          
            font-size: 30px;
            float: right;
            font-weight: bold;
            padding-right: 23px; 
            
            &::after {
                content: "2";
                position: absolute;                
                top: 0;
                right: 0;
                font-size: 43px;
            }
        }

        &__num {            
            font-size: 72px;            
        }
    }

    .num-count {
        opacity: 0; 
    }

    &-market {
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: 84px;
        right: 448px;
        width: 384px;                
        background-image: url(../../img/ellipse_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 87%; 
        z-index: 2;
        padding-top: 54px;
        padding-bottom: 55px;        
        
        &__title {
            font-size: 30px;            
        }

        &__num {
            font-size: 163px;
            line-height: 0.75;
            font-weight: bold;
            letter-spacing: -10px;                        
        }

        &__text {
            font-size: 81px;
            text-transform: lowercase;
            line-height: 0.81;
            font-weight: bold;
        }
    }

    &-content {
        position: absolute;
        top: 261px;
        left: 705px;
        width: 593px;
        height: 261px;        
        background-image: url(../../img/ellipse_3.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 61%; 
        z-index: 2;

        &__title {            
            font-size: 30px;
            float: left;
            margin-top: 107px; 
            margin-bottom: 2px;                       
        }

        &__subtitle {  
            position: relative;          
            font-size: 30px;
            float: right;
            font-weight: bold;
            padding-right: 23px; 
            
            &::after {
                content: "3";
                position: absolute;                
                top: 0;
                right: 0;
                font-size: 43px;
            }
        }

        &__num {            
            font-size: 72px;
            opacity: 0;            
        }
    }    
}