.success {

    color: #ffffff;
    text-transform: uppercase;    
    overflow: hidden;
    &-wrap {
    position: relative;
    width: 100%;
    height: 561px;
    background-image: url(../img/success_bg.png);
    z-index: 0;
    text-align: center;
    }

    &-penoboard {
        position: absolute;        
        left: 0;
        bottom: -5%;
        width: 100%;
        height: 187px;
        background-image: url(../img/penoboard.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
        z-index: 2;        
    }

    &-balls--1 {
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        height: 961px;
        background-image: url(../img/balls1.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left center;
        z-index: 2;
    }

    &-balls--2 {
        position: absolute;
        right: 0;
        bottom: -100%;
        width: 100%;
        height: 961px;
        background-image: url(../img/balls2.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right bottom;
        z-index: 2;
        
    }

    &-balls--3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 560px;
        background-image: url(../img/balls3.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left center;
        z-index: 2;
    }

    &-balls--4 {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 560px;
        background-image: url(../img/balls4.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right center;
        z-index: 2;
        
    }

    &-territory {
        position: absolute;
        top: 67px;
        left: 448px;
        width: 500px;
        height: 330px;
        background-image: url(../img/ellipse_1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;        

        &__title {            
            font-size: 30px;
            float: left;
            margin-top: 111px; 
            margin-bottom: 5px;
            z-index: 20;           
        }

        &__subtitle {  
            position: relative;          
            font-size: 30px;
            float: right;
            font-weight: bold;
            padding-right: 23px; 
            
            &::after {
                content: "2";
                position: absolute;                
                top: 0;
                right: 0;
                font-size: 43px;
            }
        }

        &__num {            
            font-size: 72px;
            opacity: 0; 
        }
    }

    
}