aside.aside-menu
  button.aside-burger
  ul.aside-list
      li.aside-item
          a.aside-link(href="#Главная") Главная
      li.aside-item
          a.aside-link(href="#О компании") О компании
      li.aside-item
          a.aside-link(href="#Вакансии") Вакансии
      li.aside-item
          a.aside-link(href="#Продукция") Продукция
      li.aside-item
          a.aside-link(href="#Новости") Новости
      li.aside-item
          a.aside-link(href="#Статьи") Статьи
      li.aside-item
          a.aside-link(href="#Контакты") Контакты