section.certif  
  .certif-logo
    img(src="./img/certif_logo.png", alt="certif_logo")
  h2.certif-title сертификаты качества и премии
  .certif-box
    a(data-fancybox="images" href='./img/certificate-1.jpg')
      img(src='./img/certificate-1sm.png' alt='')
    a(data-fancybox="images" href='./img/certificate-2.jpg')
      img(src='./img/certificate-2sm.png' alt='')
    a(data-fancybox="images" href='./img/certificate-3.jpg')
      img(src='./img/certificate-3sm.png' alt='')
    a(data-fancybox="images" href='./img/certificate-4.jpg')
      img(src='./img/certificate-4sm.png' alt='')
    a(data-fancybox="images" href='./img/certificate-5.jpg')
      img(src='./img/certificate-5sm.png' alt='')
  .certif-subtitle
    h3 Премия
    h3 100 лучших товаров Украины  2010 и 2011
    .certif-subtitle__img
      img(src="./img/logo-konkurs_top100.png", alt="konkurs-top100")
  include contact 