section
  .contact
    .contact-wrap
        h2.contact-title Контакты
        p.contact-adress ООО «Производственно коммерческая фирма «Элит Пласт» 
        p.contact-adress 73000, Украина, г. Херсон, пос. Антоновка, ул 23 Восточная, 41-А
        p тел:+38(0552)314-410, 314-403; факс:+38(0552)359-214
        p e-mail:info@penoboard.com 