section
  .contact
    .contact-wrap
        h2.contact-title Контакты
        p.contact-adress ООО «Производственно коммерческая фирма «Элит Пласт» 
        p.contact-adress 73000, Украина, г. Херсон, пос. Антоновка, ул 23 Восточная, 41-А
        .contact-phone
          a.contact-phone__link(href="tel:тел:+38(0552)314-410") тел:+38(0552)314-410,&nbsp;
          a.contact-phone__link(href="tel:тел:+38(0552)314-403") 314-403;&nbsp;
          a.contact-phone__link(href="fax:+38(0552)359-214") факс:+38(0552)359-214
        a(href="e-mail:info@penoboard.com").contact__email e-mail:info@penoboard.com 