footer.footer
  .footer-logo
    img(src="./img/footer_logo.svg", alt="penoboard logo")
  h2.footer__title Penoboard
  p.footer__copyright 2014 &copy
  p.footer__subtitle мы в социальных сетях
  .footer-social
    .footer-social__linkedin
      a.footer-social__link(href="http://linkedin.com" target="_blank")
        span.iconify(data-icon='entypo-social:linkedin-with-circle' data-inline='false')
    .footer-social__vk
      a.footer-social__link(href="http://vk.com" target="_blank")
        span.iconify(data-icon='entypo-social:vk-with-circle' data-inline='false')
  .footer-image
    img(src="./img/banner.png", alt="footer_banner")
  .footer-banner
    p баннерная система -
    a.footer-banner__link(href="http://100bannerov.com" target="_blank") &nbsp;100bannerov.com&nbsp;
    p - продвижение сайтов
  .footer-develop
    p 
      | разработка сайта &mdash;
      a.footer-develop__link(href="https://wezom.com.ua/" target="_blank") &nbsp;студия wezom