header
  .header
    nav.header-nav.nav      
      include aside-menu 
      ul.nav-list.view-port
        li.nav-item
          a(href="#Главная").nav__link Главная
        li.nav-item
          a(href="#О компании").nav__link О компании
        li.nav-item
          a(href="#Вакансии").nav__link Вакансии
        li.nav-item.product
          a(href="#Продукция").nav__link Продукция
          span
          ul.product-list
            li.product-item
              a.product__link(href="#Ссылка 1") Ссылка 1
            li.product-item
              a.product__link(href="#Ссылка 2") Ссылка 2
            li.product-item
              a.product__link(href="#Ссылка 3") Ссылка 3
        li.nav-item
          a(href="#Фотогалерея").nav__link Фотогалерея
        li.nav-item
          a(href="#Новости").nav__link Новости
        li.nav-item
          a(href="#Статьи").nav__link Статьи
        li.nav-item
          a(href="#Контакты").nav__link Контакты
    