header
  .header
    nav.header-nav.nav
      ul.nav-list.view-port
        li.nav-item
          a(href="#Главная").nav__link Главная
        li.nav-item
          a(href="#О компании").nav__link О компании
        li.nav-item
          a(href="#Вакансии").nav__link Вакансии
        li.nav-item
          a(href="#Продукция").nav__link Продукция
        li.nav-item
          a(href="#Фотогалерея").nav__link Фотогалерея
        li.nav-item
          a(href="#Новости").nav__link Новости
        li.nav-item
          a(href="#Статьи").nav__link Статьи
        li.nav-item
          a(href="#Контакты").nav__link Контакты
    