section  
  .info
    .info-container.view-port      
      include login-form
      .info-container--left
        img(src="./img/header_logo.png", alt="header_logo")
        .info-login
          button.info-login__link.sign-in Вход
          span /
          button.info-login__link.reg-in Регистрация      
      .info-container--right
        .info-box
          .info-select
            select(name="dropdown").info-lang
              option(selected="selected" value="") RU
              option(value="") EN
              option(value="") UA
            span
          .info-social
            p.info-social__text Мы в социальных сетях
            .info-social__linkedin
              a.info-social__link(href="http://linkedin.com" target="_blank")
                span.iconify(data-icon='entypo-social:linkedin-with-circle' data-inline='false')
            .info-social__vk
              a.info-social__link(href="http://vk.com" target="_blank")
                span.iconify(data-icon='entypo-social:vk-with-circle' data-inline='false')
        .info-telephone
          a.info-telephone__link(href="tel:+38(0552)314-410") тел:+38(0552)314-410,
          a.info-telephone__link(href="tel:+38(0552)314-403") &nbsp;314-403;
          a.info-telephone__link(href="fax:+38(0552)359-214") &nbsp;факс:+38(0552)359-214&nbsp;
          a(href="e-mail:info@penoboard.com").info-telephone__email e-mail:info@penoboard.com
        .info-footer
          .info-line
          .info-btn
            svg(xmlns='http://www.w3.org/2000/svg' width='25.03' height='25.031' viewBox='0 0 25.03 25.031')
              defs
                style.
                  .cls-1 {
                  fill: #2c2783;
                  fill-rule: evenodd;
                  }
              path#Forma_1.cls-1(data-name='Forma 1' d='M1434.49,181.677h-1.17v4.679h-4.66v1.169h4.66V192.2h1.17v-4.679h4.66v-1.169h-4.66v-4.679Zm13.99,17.544-6.53-6.55a9.866,9.866,0,1,0-8.04,4.21,9.824,9.824,0,0,0,5.71-1.871l6.52,6.55a1.778,1.778,0,0,0,2.34,0h0A1.58,1.58,0,0,0,1448.48,199.221Zm-14.57-4.678a7.6,7.6,0,1,1,7.57-7.6A7.575,7.575,0,0,1,1433.91,194.543Z' transform='translate(-1424 -177)')            
    include slider