section
  .info
    .info-container.view-port      
      .info-container--left
        img(src="../img/header_logo.png", alt="header_logo")
        .info-login
          a(href="").info-login__link Вход
          span /
          a(href="").info-login__link Регистрация      
      .info-container--right 