.form-login
  .form-close
    span.iconify(data-icon='carbon:close-outline' data-inline='false')
  form#login.form-block(action="" method="post")
    p.form__title Войти в личный кабинет
    p Ваш e-mail
    input(type="email", name="arr[email]" placeholder="user@mail.com")
    p Пароль
    input(type="password", name="arr[password]" placeholder="********")
    input.form__submit(type="submit", value="Войти")
