.form-login
  .form-close
    span.iconify(data-icon='carbon:close-outline' data-inline='false')
  form.form-block(action="")
    p.form__title Войти в личный кабинет
    p Ваш e-mail
    input(type="email", name="" placeholder="user@mail.com")
    p Пароль
    input(type="password", name="" placeholder="********")
    input.form__submit(type="submit", value="Войти" disabled="disabled")
