.slider-wrap
  .swiper-container.view-port 
    .swiper-wrapper    
      .swiper-slide
        img(src="./img/slide_1.png", alt="slide_1")
        .swiper-text
          h2.swiper-text__title.swiper-text__title--left сегодня инновация -
          .clear
          h2.swiper-text__title.swiper-text__title--right завтра необходимость 
          .clear
          p.swiper-text__subtitle энергосбережение нового поколения 
      .swiper-slide
        img(src="./img/slide_2.png", alt="slide_2")
        .swiper-text
          h2.swiper-text__title.swiper-text__title--left сегодня инновация -
          .clear
          h2.swiper-text__title.swiper-text__title--right завтра необходимость
          .clear
          p.swiper-text__subtitle энергосбережение нового поколения 
      .swiper-slide
        img(src="./img/slide_3.png", alt="slide_3")
        .swiper-text
          h2.swiper-text__title.swiper-text__title--left сегодня инновация -
          .clear
          h2.swiper-text__title.swiper-text__title--right завтра необходимость
          .clear
          p.swiper-text__subtitle энергосбережение нового поколения 
      .swiper-slide
        img(src="./img/slide_4.png", alt="slide_4")
        .swiper-text
          h2.swiper-text__title.swiper-text__title--left сегодня инновация -
          .clear
          h2.swiper-text__title.swiper-text__title--right завтра необходимость
          .clear
          p.swiper-text__subtitle энергосбережение нового поколения
      .swiper-slide
        img(src="./img/slide_2.png", alt="slide_2")
        .swiper-text
          h2.swiper-text__title.swiper-text__title--left сегодня инновация -
          .clear
          h2.swiper-text__title.swiper-text__title--right завтра необходимость
          .clear
          p.swiper-text__subtitle энергосбережение нового поколения
    .swiper-pagination  