section.success
  .success-wrap
    .success-penoboard
    .success-balls--1
    .success-balls--2
    .success-balls--3
    .success-balls--4
    h2.success-title Арифметика успеха
    .success-territory      
      h3.success-territory__title Территория предприятия
      p.success-territory__subtitle
        span.success-territory__num.num-count 25000
        span.success-territory__text &nbsp;&nbsp;м      
    .success-market
      h3.success-market__title На рынке
      p.success-market__num.num-count 7
      p.success-market__text лет
    .success-content
      h3.success-content__title Годовой обьем производства
      p.success-content__subtitle 
        span.success-content__num 180000
        span.success-content__text &nbsp;&nbsp;м