section.success
  .success-wrap
    .success-penoboard
    .success-balls--1
    .success-balls--2
    .success-balls--3
    .success-balls--4
    .success-title-wrap
      h2.success__title Арифметика успеха
    .success-box
      .success-territory      
        h3.success-territory__title.success__text Территория предприятия
        p.success-territory-subtitle
          span.success-territory__num.numscroller(data-min='1' data-max='25000' data-delay='5' data-increment='50') 25000
          span.success__text &nbsp;&nbsp;м      
      .success-market
        h3.success-market__title.success__text На рынке
        p.success-market-subtitle
          span.success-market__num.numscroller(data-min='1' data-max='7' data-delay='3' data-increment='1') 7
          span.success-market__text лет
      .success-content
        h3.success-content__title.success__text Годовой обьем производства
        p.success-content-subtitle 
          span.success-content__num.numscroller(data-min='1' data-max='1800000' data-delay='5' data-increment='1000') 1800000
          span.success__text &nbsp;&nbsp;м