section.success
  .success-wrap
    .success-penoboard
    .success-balls--1
    .success-balls--2
    .success-balls--3
    .success-balls--4
    .success-title
      h2 Арифметика успеха
    .success-territory
      .success-territory-bg
      h3 Территория предприятия
      p 25000
      p м
        span 2
    .success-market
      h3 На рынке
      p 7
      p лет
    .success-content
      h3 Годовой обьем производства
      p 180000
      p м
        span 3