doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    link(type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css' rel='stylesheet')
    title Penoboard
  body
    include modules/header
    main
      include modules/info
      include modules/certificate               
    #map(style="height: 329px")
    include modules/footer
    script(src="https://kit.fontawesome.com/13fd77a47d.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    //- script(src="/node_modules/jquery-validation/dist/jquery.validate.js")
    script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvFqjf_cszczIrrw8yWWp1dAs7T-Ix5b4&" async defer)
    
