doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    title Penoboard
  body
    
    script(src="https://kit.fontawesome.com/13fd77a47d.js" crossorigin="anonymous")
    script(src="/node_modules/jquery/dist/jquery.js")
    script(src="/node_modules/jquery-validation/dist/jquery.validate.js")
    
