@import './reset';
@import './parsials/mixins';
@import './modules/header';
@import './modules/info';
@import './modules/footer';
@import './media';

@import url(//db.onlinewebfonts.com/c/d774b33db4359ae753c71d42afdf125a?family=EuropeExt+Web);


html, body {
    font-family: "EuropeExt Web";    
    background-color: #f7f8f3;   
}

.view-port {
    max-width: 979px;
    margin: 0 auto;
}

button, button:active, button:focus,
input, input:active, input:focus {
    outline: none;
    border: 0;
    font-family: 'EuropeExt Bold', arial;
}
