@import './reset';
@import './parsials/mixins';
@import './modules/header';
@import './modules/footer';
@import './media';
// @import url(https://allfont.ru/allfont.css?fonts=europeext-normal);
@font-face {
	font-family: "Europe_Ext";
	src: url("/fonts/europe-ext.eot"); /* IE9 Compat Modes */
	src: url("/fonts/europe-ext.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/fonts/europe-ext.otf") format("opentype"), /* Open Type Font */
		url("/fonts/europe-ext.svg") format("svg"), /* Legacy iOS */
		url("/fonts/europe-ext.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/fonts/europe-ext.woff") format("woff"), /* Modern Browsers */
		url("/fonts/europe-ext.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

html, body {
    font-family: "Europe_Ext";
    // font-family: 'EuropeExt Normal', arial;
    background-color: #f7f8f3;   
}

button, button:active, button:focus,
input, input:active, input:focus {
    outline: none;
    border: 0;
    font-family: 'EuropeExt Bold', arial;
}
