@media (max-width: 1199px) { 
    
    .certif-logo {
        padding-top: 30px;        
    }

    .contact {
        background-position-y: 150%;
    }

    
}
@media (max-width: 991px) {
    .nav-list {
        display: none;
    }

    .aside-menu {
        display: flex;
    }

    .aside-logo_t {
        display: block;
    }

    .info {
        width: 100%;

        &-container {
            width: calc(100% - 20px);
            padding: 0 10px;
        }
        

        &-container--left {
            width: 40%;
            padding: 10px 0;
            justify-content: space-between;

            img {
                width: 100%;
            }
        }

        &-container--right {
            width: 60%;
            margin: 0;
        }
    }

    .slider-wrap {
        background: transparent;
        padding-bottom: 20px;
    }

    .success {

        &-wrap {
            height: 500px;
        }

        &-title-wrap {
            top: 40px;
        }
    
        &__title {
            font-size: 35px;
        }
    
        &__text {
            font-size: 25px;
        }

        &-balls--1, &-balls--3,
        &-balls--2, &-balls--4 {
            background-size: contain;
        } 
    
        &-territory {
            width: 400px;
            height: 297px;
            left: 1%;
    
            &__title {            
                margin-top: 80px;
            }
    
            &-subtitle {
                padding-right: 16px;
            }
        }

        &-content-subtitle {            
            padding-right: 16px;
        }

        &-market {
            top: 84px;
            right: 1%;
            width: 350px;
            padding: 35px 0;
            justify-content: flex-end;
    
            &__num {
                font-size: 135px;
                line-height: 0.75;     
            }
    
            &__text {
                font-size: 55px;                
            }
        }

        &-content {            
            width: 460px;
            height: 202px;
    
            &__title { 
                margin-top: 80px; 
                margin-bottom: 2px;                       
            }
    
            &__subtitle {
                padding-right: 16px; 
            } 
        }

        &-content-subtitle::after,
        &-territory-subtitle::after {
            top: 10px;
            font-size: 30px;
        }
    }    

    .certif-box {
        margin: 10px 0 10px;
    }

    .certif-box a,
    .certif-box a:last-child {                
        margin: 15px;
    }    

    .contact {
        background-position-y: 120%;
    }
}
@media (max-width: 767px) {

    .form-login, .form-reg {        
        top: 10vh;
    }

    .info {
        &-container {
            display: flex;
            flex-direction: column;
    
            &--left, &--right {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            &--left img {
                width: 70%;
            }

            &--right {
                max-width: 768px;
            }
        }

        &-login__link, &-social__text {
            font-size: 15px;
        }

        &-box {
            justify-content: space-evenly;
        }

        &-social__link {
            font-size: 35px;
        }

        &-telephone {
            justify-content: center;

            &__link {
                margin-right: 6px;
            }
        }
    }           
    
    .swiper-text__title {
        font-size: 22px;
    }

    .swiper-text__subtitle {
        font-size: 16px;
    }

    .swiper-slide img {
        width: 100%;
    }    

    
    .success {

        &-wrap {
            height: 435px;
        }

        &__title {
            font-size: 32px;
        }

        &-box, &-territory,
        &-market, &-content  {            
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;            
        }

        &-title-wrap, &-territory,
        &-market, &-content {
            position: static;
            background: #051a335e url(../img/pattern.png) repeat;
            margin: 0;
            padding: 10px 0;
            height: auto;
            border-top: 1px solid #619bdf;
            transform: none;
            text-align: center;
            align-items: center;
            
        }

        &-territory {

            &__title {
                margin: 0;           
            }
        }

        &-content {
    
            &__title { 
                margin: 0;                      
            }
        }
    }
    
} 
@media (max-width: 575px) {

    .aside-logo_t {
        display: none;
    }

    .aside-logo_l, .aside-login,
    .aside-select {
        display: block;
    }

    .info-login, .info-select {
        display: none;
    }    

    .form__title {
        font-size: 22px;
    }    

    .form-block {
        padding: 30px 10px;
        width: 90%;
    }

    .slider-wrap {
        padding: 20px 0;
    }

    .swiper-text {
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

        &__title {
            font-size: 1rem;
            margin-top: 0;
        }

        &__subtitle {
            font-size: 14px;
            margin-bottom: 0;
        }
    } 

    .swiper-text__title--right {
        align-self: center;
    }


    .success {

        &-wrap {
            height: 385px;
        }

        &__title {
            font-size: 24px;
            padding: 15px 0;
        }
    
        &__text {
            font-size: 18px;
        }

        &-content-subtitle::after,
        &-territory-subtitle::after {
            top: 20px;
            font-size: 18px;
        }

        &-territory__num, &-content__num,
        &-market__num {
            font-size: 65px;
            line-height: 1;
        }

        &-market__text {
            font-size: 40px;
            margin-left: 20px;
        }
    } 

    .certif-logo {
        padding: 15px 10px 0;

        img {
            width: 100%;                
        }
    }            
    
    .certif-title {
            font-size: 16px;
    }
        
    .certif-box {
        margin: 10px 0 10px;
    }

    .certif-box a,
    .certif-box a:last-child {                
        margin: 5px;
    }
    

    .contact {
        background-position-y: 115%;        
        
        &__adress {
            font-size: 14px;
            line-height: 15px;
        }
    }

    .contact-phone__link {
        line-height: 20px;
    }

    .footer-image {
        margin-bottom: 10px;

        img {
            width: 100%;
        }
    }

    .footer-banner {            
        flex-wrap: wrap;
        
        p:last-child {
            display: none;
        }

        &__link {        
            font-size: 12px;        
        }
    }    

    .footer { 
        
        &__title {
            font-size: 32px;
            margin-bottom: 5px;

            &::after {
                font-size: 8px;                
            }
        } 
    }    
}